# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars.json
.terraform.lock.hcl

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# IDE
.vscode/
.idea/

# Credenciales
credentials.json
application_default_credentials.json